body {
    background-color: #edeff2;
}

/* NAVIGATION */
#navbar {
    position: fixed;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    text-decoration: none;
    
}

.navbar-left {
    float: left;
    width: 50%;
}

.navbar-left img {
    height: 29px;
    width: 112.5px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-right {
    float: right;
    width: 50%;
    padding-top: 10px;
}

.links {
    float: right;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 2px;
    line-height: 20px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
}

    a:hover {
    border-color: #FFF;
    color: #FFF;
    font-weight: 400;
    border: 1px solid white;
    padding: 5px;
}

    a:visited {
    color: #FFF;
}

/* HEADER SECTION */
#home {
    background-image: url("../img/RNR_HERO.jpeg");
    background-size: cover;
    height: 736px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.header {
    padding-top: 200px;
    padding-bottom: 275px;
}

.header h1 {
    color: #FFF;
    font-size: 48px;
    line-height: 42px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

button {
    background-color: #114d29;
    padding: 12px 30px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    border-radius: 4px;
    opacity: 0.8;
    transition: background-color 300ms ease;
    cursor: pointer;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

/* SERVICES */
#services {
    height: 410px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

#services img {
    width: 110px;
    height: 100px;
}

.jobs h3 {
    font-family: din-condensed-web, sans-serif;
    color: #114d29;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.jobs span {
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #5e5e5e;
    font-family: 'Open sans', sans-serif;
}

/*PORTFOLIO */
.portfolio img {
    width: 100%;
    height: 741px;
}

/* QUOTE SECTION */
.quote {
    height: 393px;
    line-height: 20px;
    text-align: center;
    margin-top: 40px;
    padding: 25px 10px 50px 10px;
}

.quote p {
    color: rgb(103, 103, 112);
    line-height: 46px;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 1px;

}

.quote span {
    color: rgb(142, 142, 156);
    font-family: din-condensed-web, sans-serif;
    letter-spacing: 3px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.quote img {
    width: 110px;
    height: 75px;
    text-align: center;
    margin-bottom: 24px;
}

/* ABOUT SECTION */
#about {
    background-image: url("../img/Grass.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    position: relative;
    padding-top: 100px;
}

.about-header {
    color: rgb(255, 255, 255);
    margin-left: 650px;
}

.info {
    color: rgb(255, 255, 255);
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-right: 110px;
    float: right;
}

/* CONTACT SECTION */
#contact {
    height: 495px;
}

#contact h2 {
    text-align: center;
    color: rgb(17, 77, 41);
    font-family: din-condensed-web, sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 36px;
}

#email-form {
    box-sizing: border-box;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

label {
    box-sizing: border-box;
    color: rgb(17, 77, 41);
    cursor: default;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 15%;
    font-weight: 700;
}

.textfield-w-input {
appearance: auto;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(204, 204, 204);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: text;
display: block;
font-family: "Open Sans", sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-optical-sizing: auto;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variation-settings: normal;
font-weight: 400;
height: 38px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
text-align: start;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
width: 900px;
word-spacing: 0px;
writing-mode: horizontal-tb;
-webkit-rtl-ordering: logical;
margin-left: 15%;
margin-top: 15px;
}

.submit-button {
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #114d29;
    font-family: din-condensed-web, sans-serif;
    font-weight: 400px;
    letter-spacing: 2px;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 150px
}

.w-button:hover {
    background-color: rgb(204, 204, 204);
    color:rgb(17, 77, 41);
    cursor: pointer;
}

/* FOOTER SECTION */
#footer {
    background-image: url("../img/footer.png");
    background-size: cover;
    position: relative;
    height: 125px;
}

#footer p {
    position: absolute;
    text-align: center;
    padding-top: 55px;
    margin-left: 300px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}